
.about {
	.container-fluid();

	padding: 30px 0;
	text-align: center;
}

.about__me {
	p {
		padding: 10px 30px;
		margin-bottom: 50px;
	}
}

.about__skills {
	margin-top: 70px;

	h2{
		margin-bottom:40px;
	}
}

.about__langs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.about__item{
	width: 33.3%;
	img {
		margin-bottom: 10px;
	}
	h3 {
		margin-top: 0px;
	}

	.about__js  {
		margin-top: 8px;
		margin-bottom: 0px;
	}
}

.fa-html5 {
	margin-right: 20px;
	margin-bottom: 30px;
}

.fa-wordpress {
	font-size: 35px;
	margin-bottom: 20px;
}


@media @m-width-only {

	.about {
		padding-bottom: 0px;
	}

	.about__langs {
		flex-wrap: wrap;
	}

	.about__item{
		width: 100%;
	margin-top: 10px;
	}
}
@media @t-width {

	.about__me {
		p {
			padding: 10px 150px;
		}
	}

	.about__item{
		margin-top: 10px;
		margin-bottom: 10px;

		.about__js  {
			margin-top: -3px;
			margin-bottom: 12px;
		}
	}
}
