.portfolio {
    padding: 10px 0 20px;

    text-align: center;

    .container-fluid();
}

.slide {
    display: none;
}

.showing {
    display: flex;
    flex-direction: row;

    padding-bottom: 15px;

    justify-content: center;
    flex-wrap: wrap;
    animation: portfolio-items .8s ease-in 1;
}

@keyframes portfolio-items {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.portfolio__item {
    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 190px;
    margin-right: 35px;
    margin-bottom: 30px;
    margin-left: 0;

    text-decoration: none;

    border: none;
    outline: none;
    background: #111;

    p {
        font-family: 'Montserrat', sans-serif;

        margin-top: 82.5px;

        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #eee;
        text-shadow: -.01px 0 1px rgb(30,242,241) , .01px 0 1px rgb(246,5,10);

        span {
            font-size: 22px;
        }
    }
}

.portfolio__btn {
    margin-top: 80px;

    color: #000;
    border-color: #222;
    background-color: #fff;

    &:hover {
        color: #fff;
        background-color: #222;
    }
}

.portfolio__controls {
    display: inline-block;
    float: left;

    width: 50%;
    height: 50px;
    margin-bottom: 60px;

    cursor: pointer;

    border: 1px solid #eee;
    outline: none;
    background-color: #fff;

    &:hover,
    &:active {
        background-color: #eee;
    }
}

.portfolio__controls__left {
    border-right: 0  solid #eee;
}

@media @t-width {
    .portfolio {
        position: relative;
    }

    .portfolio__item {
        width: 190px;
        margin-right: 20px;
        margin-left: 0;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .portfolio__item,
    .portfolio__item span {
        transition: all .3s ease-in-out;

        &:hover {
            border-radius: 50%;
        }
    }

    .portfolio__controls {
        position: absolute;
        top: 175px;

        width: 60px;
        height: 60px;

        border: 0 solid #eee;
        background-color: rgba(254,254,254, 0);
        .fa {
            font-size: 40px;
        }

        &:hover,
        &:active {
            background-color: rgba(254,254,254, 0);
            .fa {
                font-size: 50px;
            }
        }
    }

    .portfolio__controls__left {
        left: -20px;
    }

    .portfolio__controls__right {
        right: -20px;
    }


    // Animation

    @keyframes portfolio__item {
        0% {
            transform: perspective(400px) rotateX(90deg);

            opacity: 0;
        }

        40% {
            transform: perspective(400px) rotateX(-10deg);
        }

        70% {
            transform: perspective(400px) rotateX(10deg);
        }

        100% {
            transform: perspective(400px) rotateX(0deg);

            opacity: 1;
        }
    }

    .portfolio__item {
        animation-name: portfolio__item;

        backface-visibility: visible !important;
    }

    // End animation
}

@media @d-width {
    .portfolio__item {
        margin-right: 40px;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .portfolio__controls__left {
        left: 0;
    }

    .portfolio__controls__right {
        right: 0;
    }
}
