.waiting {
	padding: 20px 15px 0;
	text-align: center;
	background: #000 url(../img/waiting.jpg) no-repeat 30% top;
	background-size: cover;

	h3{
		color: #fff;
		font-weight: 400;
		font-size: 34px;
		line-height: 36px;
		padding-bottom: 60px;
	}
}

// Counter

@font-size: 100px;

.waiting__counter {
	color: #fff;
	height: @font-size;
	width: 160px;
	overflow: hidden;
	position: relative;
	font-size: @font-size;
	line-height: @font-size;
	text-align: center;
	margin: 30px auto;
	display: block;

	&::before, &::after {
		position: absolute;
		white-space: pre;
		width: @font-size / 1.75;
	}

  // tens
  &::before {
  	content: "0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9";
  	left: 12px;
  	animation: count_tens 100s linear infinite;
  }

  // ones
  &::after {
  	content: "0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9";
  	right: 12px;
  	animation: count_secs 10s linear infinite;
  }
}

// Animation

@keyframes count_tens {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	9.999% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	10% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	19.999% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	20% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	29.999% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	30% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	39.999% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	40% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	49.999% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	50% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	59.999% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	60% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	69.999% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	70% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	79.999% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	80% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	89.999% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	90% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
	99.999% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
}
@keyframes count_secs {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	9.999% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	10% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	19.999% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	20% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	29.999% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	30% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	39.999% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	40% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	49.999% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	50% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	59.999% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	60% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	69.999% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	70% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	79.999% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	80% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	89.999% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	90% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
	99.999% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
}

@keyframes counter {
	0% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	0.5% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	2.16667% {
		-webkit-transform: translateY(-1.66667%);
		transform: translateY(-1.66667%);
	}
	3.83333% {
		-webkit-transform: translateY(-3.33333%);
		transform: translateY(-3.33333%);
	}
	5.5% {
		-webkit-transform: translateY(-5%);
		transform: translateY(-5%);
	}
	7.16667% {
		-webkit-transform: translateY(-6.66667%);
		transform: translateY(-6.66667%);
	}
	8.83333% {
		-webkit-transform: translateY(-8.33333%);
		transform: translateY(-8.33333%);
	}
	10.5% {
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
	}
	12.16667% {
		-webkit-transform: translateY(-11.66667%);
		transform: translateY(-11.66667%);
	}
	13.83333% {
		-webkit-transform: translateY(-13.33333%);
		transform: translateY(-13.33333%);
	}
	15% {
		-webkit-transform: translateY(-15%);
		transform: translateY(-15%);
	}
	16.66667% {
		-webkit-transform: translateY(-16.66667%);
		transform: translateY(-16.66667%);
	}
	17.16667% {
		-webkit-transform: translateY(-16.66667%);
		transform: translateY(-16.66667%);
	}
	18.83333% {
		-webkit-transform: translateY(-18.33333%);
		transform: translateY(-18.33333%);
	}
	20% {
		-webkit-transform: translateY(-20%);
		transform: translateY(-20%);
	}
	21.66667% {
		-webkit-transform: translateY(-21.66667%);
		transform: translateY(-21.66667%);
	}
	23.33333% {
		-webkit-transform: translateY(-23.33333%);
		transform: translateY(-23.33333%);
	}
	25% {
		-webkit-transform: translateY(-25%);
		transform: translateY(-25%);
	}
	26.66667% {
		-webkit-transform: translateY(-26.66667%);
		transform: translateY(-26.66667%);
	}
	28.33333% {
		-webkit-transform: translateY(-28.33333%);
		transform: translateY(-28.33333%);
	}
	30% {
		-webkit-transform: translateY(-30%);
		transform: translateY(-30%);
	}
	31.66667% {
		-webkit-transform: translateY(-31.66667%);
		transform: translateY(-31.66667%);
	}
	33.33333% {
		-webkit-transform: translateY(-33.33333%);
		transform: translateY(-33.33333%);
	}
	35% {
		-webkit-transform: translateY(-35%);
		transform: translateY(-35%);
	}
	36.66667% {
		-webkit-transform: translateY(-36.66667%);
		transform: translateY(-36.66667%);
	}
	38.33333% {
		-webkit-transform: translateY(-38.33333%);
		transform: translateY(-38.33333%);
	}
	40% {
		-webkit-transform: translateY(-40%);
		transform: translateY(-40%);
	}
	41.66667% {
		-webkit-transform: translateY(-41.66667%);
		transform: translateY(-41.66667%);
	}
	43.33333% {
		-webkit-transform: translateY(-43.33333%);
		transform: translateY(-43.33333%);
	}
	45% {
		-webkit-transform: translateY(-45%);
		transform: translateY(-45%);
	}
	46.66667% {
		-webkit-transform: translateY(-46.66667%);
		transform: translateY(-46.66667%);
	}
	48.33333% {
		-webkit-transform: translateY(-48.33333%);
		transform: translateY(-48.33333%);
	}
	50% {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	51.66667% {
		-webkit-transform: translateY(-51.66667%);
		transform: translateY(-51.66667%);
	}
	53.33333% {
		-webkit-transform: translateY(-53.33333%);
		transform: translateY(-53.33333%);
	}
	55% {
		-webkit-transform: translateY(-55%);
		transform: translateY(-55%);
	}
	56.66667% {
		-webkit-transform: translateY(-56.66667%);
		transform: translateY(-56.66667%);
	}
	58.33333% {
		-webkit-transform: translateY(-58.33333%);
		transform: translateY(-58.33333%);
	}
	60% {
		-webkit-transform: translateY(-60%);
		transform: translateY(-60%);
	}
	61.66667% {
		-webkit-transform: translateY(-61.66667%);
		transform: translateY(-61.66667%);
	}
	63.33333% {
		-webkit-transform: translateY(-63.33333%);
		transform: translateY(-63.33333%);
	}
	65% {
		-webkit-transform: translateY(-65%);
		transform: translateY(-65%);
	}
	66.66667% {
		-webkit-transform: translateY(-66.66667%);
		transform: translateY(-66.66667%);
	}
	68.33333% {
		-webkit-transform: translateY(-68.33333%);
		transform: translateY(-68.33333%);
	}
	70% {
		-webkit-transform: translateY(-70%);
		transform: translateY(-70%);
	}
	71.66667% {
		-webkit-transform: translateY(-71.66667%);
		transform: translateY(-71.66667%);
	}
	73.33333% {
		-webkit-transform: translateY(-73.33333%);
		transform: translateY(-73.33333%);
	}
	75% {
		-webkit-transform: translateY(-75%);
		transform: translateY(-75%);
	}
	76.66667% {
		-webkit-transform: translateY(-76.66667%);
		transform: translateY(-76.66667%);
	}
	78.33333% {
		-webkit-transform: translateY(-78.33333%);
		transform: translateY(-78.33333%);
	}
	80% {
		-webkit-transform: translateY(-80%);
		transform: translateY(-80%);
	}
	81.66667% {
		-webkit-transform: translateY(-81.66667%);
		transform: translateY(-81.66667%);
	}
	83.33333% {
		-webkit-transform: translateY(-83.33333%);
		transform: translateY(-83.33333%);
	}
	85% {
		-webkit-transform: translateY(-85%);
		transform: translateY(-85%);
	}
	86.66667% {
		-webkit-transform: translateY(-86.66667%);
		transform: translateY(-86.66667%);
	}
	88.33333% {
		-webkit-transform: translateY(-88.33333%);
		transform: translateY(-88.33333%);
	}
	90% {
		-webkit-transform: translateY(-90%);
		transform: translateY(-90%);
	}
	91.66667% {
		-webkit-transform: translateY(-91.66667%);
		transform: translateY(-91.66667%);
	}
	93.33333% {
		-webkit-transform: translateY(-93.33333%);
		transform: translateY(-93.33333%);
	}
	95% {
		-webkit-transform: translateY(-95%);
		transform: translateY(-95%);
	}
	96.66667% {
		-webkit-transform: translateY(-96.66667%);
		transform: translateY(-96.66667%);
	}
	98.33333% {
		-webkit-transform: translateY(-98.33333%);
		transform: translateY(-98.33333%);
	}
	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
