.waiting {
	padding: 20px 15px 0;
	text-align: center;
	background: #000 url(../img/waiting.jpg) no-repeat 30% top;
	background-size: cover;

	h3{
		color: #fff;
		font-weight: 400;
		font-size: 34px;
		line-height: 36px;
		padding-bottom: 60px;
	}
}

// Counter

@font-size: 100px;

.waiting__counter {
	color: #fff;
	height: @font-size;
	width: 160px;
	overflow: hidden;
	position: relative;
	font-size: @font-size;
	line-height: @font-size;
	text-align: center;
	margin: 30px auto;
	display: block;

	&::before, &::after {
		position: absolute;
		white-space: pre;
		width: @font-size / 1.75;
	}

  // tens
  &::before {
  	content: "0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9";
  	left: 13px;
  	animation: count_tens 100s linear infinite;
  }

  // ones
  &::after {
  	content: "0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9";
  	right: 13px;
  	animation: count_secs 10s linear infinite;
  }
}

// Animation

@keyframes count_tens {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	9.999% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	10% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	19.999% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	20% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	29.999% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	30% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	39.999% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	40% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	49.999% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	50% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	59.999% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	60% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	69.999% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	70% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	79.999% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	80% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	89.999% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	90% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
	99.999% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
}
@keyframes count_secs {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	9.999% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	10% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	19.999% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	20% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	29.999% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
	}
	30% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	39.999% {
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
	40% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	49.999% {
		-webkit-transform: translateY(-400px);
		transform: translateY(-400px);
	}
	50% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	59.999% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	60% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	69.999% {
		-webkit-transform: translateY(-600px);
		transform: translateY(-600px);
	}
	70% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	79.999% {
		-webkit-transform: translateY(-700px);
		transform: translateY(-700px);
	}
	80% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	89.999% {
		-webkit-transform: translateY(-800px);
		transform: translateY(-800px);
	}
	90% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
	99.999% {
		-webkit-transform: translateY(-900px);
		transform: translateY(-900px);
	}
}

