.waiting {
	padding: 20px 15px 0;
	text-align: center;
	background: #000 url(../img/waiting.jpg) no-repeat 30% top;
	background-size: cover;

	h3{
		color: #fff;
		font-weight: 400;
		font-size: 34px;
		line-height: 36px;
		padding-bottom: 60px;
	}
}

.waiting__counter {
	color: #fff;
	letter-spacing: 0.1em;
	overflow: visible;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
	margin: 30px auto;
	display: block;
}
